.Landing {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 32px 20px;
  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    .image {
      height: 200px;
      width: 200px;
    }
  }
  .footerSection {
    .appNameDesc {
      .title {
        color: #030303;
        font-size: 58px;
        text-align: center;
        font-weight: 800;
        line-height: 48px;
        margin: 0;
        font-family: "Jersey 15";
      }

      .description {
        width: 260px;
        text-align: center;
        color: #030303;
        font-size: 18px;
        line-height: 24px;
        font-family: "Electrolize";
      }
    }
    .joinNow {
      cursor: pointer;
      width: 100%;
      padding: 10px 8px;
      border: 1px solid #030303;
      box-sizing: border-box;
      border-radius: 24px;
      box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.8);
      background-color: #e4f71e;
      color: #030303;
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      text-transform: uppercase;
      outline: none;
      font-family: "Jersey 10";
      -webkit-tap-highlight-color: transparent;

      &:active {
        font-size: 26px;
        outline: none;
      }
    }
  }
}
